[submodule "projects/seL4"]
	path = projects/seL4
	url = https://github.com/coliasgroup/seL4.git
[submodule "projects/l4v"]
	path = projects/l4v
	url = https://github.com/coliasgroup/l4v.git
[submodule "projects/graph-refine"]
	path = projects/graph-refine
	url = https://github.com/coliasgroup/graph-refine.git
[submodule "projects/HOL4"]
	path = projects/HOL4
	url = https://github.com/seL4/HOL.git
[submodule "nixpkgs"]
	path = nixpkgs
	url = https://github.com/NixOS/nixpkgs.git
[submodule "projects/current-graph-refine"]
	path = projects/current-graph-refine
	url = https://github.com/coliasgroup/graph-refine.git
